In [29]:
from urllib.request import urlopen
import json
import csv
import datetime
import pandas as pd

now = datetime.datetime.now()

In [30]:
df = pd.read_csv('C:/rsource2/tour_data.csv',names=
['tour_id','title','cat1','cat2','cat3','areacode','addr1','tel','mapx','mapy','firstimage','firstimage2','contentid','contenttypeid','readcount','sigungucode','zipcode'])

In [31]:
df

,tour_id,title,cat1,cat2,cat3,areacode,addr1,tel,mapx,mapy,firstimage,firstimage2,contentid,contenttypeid,readcount,sigungucode,zipcode
0,NaN,title,cat1,cat2,cat3,areacode,addr1,tel,mapx,mapy,firstimage,firstimage2,contentid,contenttypeid,readcount,sigungucode,zipcode
1,1.0,㈜코스테이,B02,B0201,B02010900,1,서울특별시 강서구 곰달래로 247,02-2643-8800,126.8605382972,37.5322339006,http://tong.visitkorea.or.kr/cms/resource/22/1...,http://tong.visitkorea.or.kr/cms/resource/22/1...,1747824,32,16412,4,07741
2,2.0,㈜피에프비파트너스 마린칸토,A05,A0502,A05020300,1,서울특별시 용산구 청파로 74,02-712-5005,126.9575071394,37.5356935654,http://tong.visitkorea.or.kr/cms/resource/19/2...,http://tong.visitkorea.or.kr/cms/resource/19/2...,2598695,39,39,21,04372
3,3.0,가나아트센터,A02,A0206,A02060500,1,서울특별시 종로구 평창30길 28,NaN,126.9751811398,37.6122099878,http://tong.visitkorea.or.kr/cms/resource/19/1...,http://tong.visitkorea.or.kr/cms/resource/19/1...,129854,14,41050,23,03004
4,4.0,가나안경원 (명동2호점),A04,A0401,A04010600,1,서울특별시 중구 명동8가길 33,NaN,126.9869342710,37.5619604852,http://tong.visitkorea.or.kr/cms/resource/71/2...,http://tong.visitkorea.or.kr/cms/resource/71/2...,984586,38,11157,24,04537
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21538,1014.0,KBS 제주,A02,A0204,A02040800,39,제주특별자치도 제주시 복지로1길 8,NaN,126.5193931884,33.4890703557,NaN,NaN,2469465,12,1998,4,63220
21539,1015.0,SOS박물관,A02,A0206,A02060100,39,제주특별자치도 서귀포시 월드컵로 31,NaN,126.5074219053,33.2470469126,http://tong.visitkorea.or.kr/cms/resource/23/1...,http://tong.visitkorea.or.kr/cms/resource/23/1...,1620910,12,21066,3,63572
21540,1016.0,THE BAY 제주리조트 (더베이 제주리조트),B02,B0201,B02010500,39,제주특별자치도 서귀포시 문필로35번길 46,064-732-8500,126.5934979109,33.2412266967,NaN,NaN,1905280,32,5330,3,63599
21541,1017.0,WE호텔,B02,B0201,B02010100,39,제주특별자치도 서귀포시 1100로 453-95,064-730-1200,126.4438820966,33.2861221515,http://tong.visitkorea.or.kr/cms/resource/25/2...,http://tong.visitkorea.or.kr/cms/resource/25/2...,2499031,32,2369,3,63551
21542,1018.0,[백년가게]향원복집,A05,A0502,A05020300,39,제주특별자치도 서귀포시 부두로 43,064-762-2341,126.5648726139,33.2411790255,http://tong.visitkorea.or.kr/cms/resource/14/2...,http://tong.visitkorea.or.kr/cms/resource/14/2...,2563236,39,496,3,63596

**sample함수로 하면 안돌아감**

In [36]:
#첫줄 index 지움
#9개 뽑아서
df1 = df.loc[1:10,['tour_id','title','mapy','mapx']]

In [37]:
df1

    tour_id              title           mapy            mapx
1       1.0              ㈜코스테이  37.5322339006  126.8605382972
2       2.0     ㈜피에프비파트너스 마린칸토  37.5356935654  126.9575071394
3       3.0             가나아트센터  37.6122099878  126.9751811398
4       4.0      가나안경원 (명동2호점)  37.5619604852  126.9869342710
5       5.0    가든파이브 (Garden5)  37.4770061292  127.1229354097
6       7.0             가락관광호텔  37.4966565128  127.1166298703
7       9.0  가락시장(가락농수산물 도매시장)  37.4960925880  127.1109831778
8      10.0               가람화랑  37.5742756967  126.9856034879
9      11.0          가로수길 홈스테이  37.5237378109  127.0238681004
10     12.0             가로수스테이  37.5220851756  127.0211100644

In [38]:
df1['road_total']=0
df1['congestion_1']=0
df1['congestion_2']=0
df1['congestion_3']=0
df1['congestion_4']=0
df1['congestion_avg']=0.0
df1['congestion_max']=0
df1['measured_at']=''

In [39]:
df1

,tour_id,title,mapy,mapx,road_total,congestion_1,congestion_2,congestion_3,congestion_4,congestion_avg,congestion_max,measured_at
1,1.0,㈜코스테이,37.5322339006,126.8605382972,0,0,0,0,0,0.0,0,
2,2.0,㈜피에프비파트너스 마린칸토,37.5356935654,126.9575071394,0,0,0,0,0,0.0,0,
3,3.0,가나아트센터,37.6122099878,126.9751811398,0,0,0,0,0,0.0,0,
4,4.0,가나안경원 (명동2호점),37.5619604852,126.9869342710,0,0,0,0,0,0.0,0,
5,5.0,가든파이브 (Garden5),37.4770061292,127.1229354097,0,0,0,0,0,0.0,0,
6,7.0,가락관광호텔,37.4966565128,127.1166298703,0,0,0,0,0,0.0,0,
7,9.0,가락시장(가락농수산물 도매시장),37.4960925880,127.1109831778,0,0,0,0,0,0.0,0,
8,10.0,가람화랑,37.5742756967,126.9856034879,0,0,0,0,0,0.0,0,
9,11.0,가로수길 홈스테이,37.5237378109,127.0238681004,0,0,0,0,0,0.0,0,
10,12.0,가로수스테이,37.5220851756,127.0211100644,0,0,0,0,0,0.0,0,

In [40]:
def get_congestion(lat,lng,idx):
    url = "https://apis.openapi.sk.com/tmap/traffic?version=1&centerLat="+lat+"&centerLon="+lng+"&reqCoordType=WGS84GEO&resCoordType=WGS84GEO&trafficType=AUTO&radius=9&zoomLevel=17&callback=function&appKey=l7xx2071a276e8e64b93819e67460094d21b"
    responseBody = urlopen(url).read().decode('utf-8')
    jsonArray = json.loads(responseBody)
    
    count = len(jsonArray.get('features'))
    
    count1 = 0
    count2 = 0
    count3 = 0
    count4 = 0
    
    for i in range(count):
        if jsonArray.get('features')[i].get('properties').get('congestion') == 1:
            count1 += 1
        elif jsonArray.get('features')[i].get('properties').get('congestion') == 2:
            count2 += 1
        elif jsonArray.get('features')[i].get('properties').get('congestion') == 3:
            count3 += 1
        elif jsonArray.get('features')[i].get('properties').get('congestion') == 4:
            count4 += 1
            
    total = count1+count2+count3+count4
    avg = round((count1+(count2*2)+(count3*3)+(count4*4))/total,4)
    max1 = find_max(count1,count2,count3,count4)
    
    print("혼잡도 1: ",count1,'혼잡도 2: ',count2,'혼잡도 3: ',count3,'혼잡도 4: ',count4 ,'총 : ',total)
    
    save_congestion(count,count1,count2,count3,count4,total,avg,max1,idx)

In [41]:
def save_congestion(count,count1,count2,count3,count4,total,avg,max1,idx):
    for i in range(count):
        df1['congestion_1'][idx] = count1
        df1['congestion_2'][idx] = count2
        df1['congestion_3'][idx] = count3
        df1['congestion_4'][idx] = count4
        df1['congestion_avg'][idx] = avg
        df1['congestion_max'][idx] = max1
        df1['road_total'][idx] = total
        df1['measured_at'][idx] = now.strftime('%Y/%m/%d %H:%M')

In [42]:
def find_max(count1,count2,count3,count4):
    tempMax = max(count1,count2,count3,count4)
    result = 0
    if tempMax == count1:
        result = 1
    elif tempMax == count2:
        result = 2
    elif tempMax == count3:
        result = 3
    elif tempMax == count4:
        result = 4
        
    return result

In [43]:
for idx in range(len(df1)):
    try:
        print(df1['title'][idx])
        get_congestion(str(df1['mapy'][idx]),str(df1['mapx'][idx]),idx)
    except:
        print('error')

error
㈜코스테이
혼잡도 1:  15 혼잡도 2:  27 혼잡도 3:  48 혼잡도 4:  14 총 :  104
㈜피에프비파트너스 마린칸토

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

혼잡도 1:  34 혼잡도 2:  19 혼잡도 3:  43 혼잡도 4:  38 총 :  134
가나아트센터
혼잡도 1:  8 혼잡도 2:  3 혼잡도 3:  6 혼잡도 4:  1 총 :  18
가나안경원 (명동2호점)
혼잡도 1:  14 혼잡도 2:  26 혼잡도 3:  80 혼잡도 4:  38 총 :  158
가든파이브 (Garden5)
혼잡도 1:  31 혼잡도 2:  32 혼잡도 3:  54 혼잡도 4:  36 총 :  153
가락관광호텔
혼잡도 1:  35 혼잡도 2:  21 혼잡도 3:  51 혼잡도 4:  20 총 :  127
가락시장(가락농수산물 도매시장)
혼잡도 1:  42 혼잡도 2:  21 혼잡도 3:  45 혼잡도 4:  14 총 :  122
가람화랑
혼잡도 1:  7 혼잡도 2:  35 혼잡도 3:  81 혼잡도 4:  41 총 :  164
가로수길 홈스테이
혼잡도 1:  24 혼잡도 2:  21 혼잡도 3:  42 혼잡도 4:  47 총 :  134

In [44]:
df1

,tour_id,title,mapy,mapx,road_total,congestion_1,congestion_2,congestion_3,congestion_4,congestion_avg,congestion_max,measured_at
1,1.0,㈜코스테이,37.5322339006,126.8605382972,104,15,27,48,14,2.5865,3,2020/10/13 17:46
2,2.0,㈜피에프비파트너스 마린칸토,37.5356935654,126.9575071394,134,34,19,43,38,2.6343,3,2020/10/13 17:46
3,3.0,가나아트센터,37.6122099878,126.9751811398,18,8,3,6,1,2.0000,1,2020/10/13 17:46
4,4.0,가나안경원 (명동2호점),37.5619604852,126.9869342710,158,14,26,80,38,2.8987,3,2020/10/13 17:46
5,5.0,가든파이브 (Garden5),37.4770061292,127.1229354097,153,31,32,54,36,2.6209,3,2020/10/13 17:46
6,7.0,가락관광호텔,37.4966565128,127.1166298703,127,35,21,51,20,2.4409,3,2020/10/13 17:46
7,9.0,가락시장(가락농수산물 도매시장),37.4960925880,127.1109831778,122,42,21,45,14,2.2541,3,2020/10/13 17:46
8,10.0,가람화랑,37.5742756967,126.9856034879,164,7,35,81,41,2.9512,3,2020/10/13 17:46
9,11.0,가로수길 홈스테이,37.5237378109,127.0238681004,134,24,21,42,47,2.8358,4,2020/10/13 17:46
10,12.0,가로수스테이,37.5220851756,127.0211100644,0,0,0,0,0,0.0000,0,

In [45]:
df2 = df1.loc[:,['tour_id','congestion_1','congestion_2','congestion_3','congestion_4','congestion_avg','congestion_max','road_total','measured_at']]

In [46]:
df2

,tour_id,congestion_1,congestion_2,congestion_3,congestion_4,congestion_avg,congestion_max,road_total,measured_at
1,1.0,15,27,48,14,2.5865,3,104,2020/10/13 17:46
2,2.0,34,19,43,38,2.6343,3,134,2020/10/13 17:46
3,3.0,8,3,6,1,2.0000,1,18,2020/10/13 17:46
4,4.0,14,26,80,38,2.8987,3,158,2020/10/13 17:46
5,5.0,31,32,54,36,2.6209,3,153,2020/10/13 17:46
6,7.0,35,21,51,20,2.4409,3,127,2020/10/13 17:46
7,9.0,42,21,45,14,2.2541,3,122,2020/10/13 17:46
8,10.0,7,35,81,41,2.9512,3,164,2020/10/13 17:46
9,11.0,24,21,42,47,2.8358,4,134,2020/10/13 17:46
10,12.0,0,0,0,0,0.0000,0,0,

In [47]:
df2.to_csv('temp.csv',mode='w',encoding='cp949')