In [50]:
import pandas as pd
import numpy as np

### Tmap data

In [51]:
tmap_day14 = pd.read_csv('./data/Tmap_data/day14/day14-all.csv')

In [52]:
tmap_day14.isna().sum()

tour_id              0
congestion_1         0
congestion_2         0
congestion_3         0
congestion_4         0
congestion_avg       0
congestion_max       0
road_total           0
measured_at       1055
dtype: int64

In [53]:
tmap_day14.head()

,tour_id,congestion_1,congestion_2,congestion_3,congestion_4,congestion_avg,congestion_max,road_total,measured_at
0,1,21,30,44,9,2.3942,3,104,2020/10/14 14:02
1,2,26,41,53,14,2.4104,3,134,2020/10/14 14:02
2,3,12,5,1,0,1.3889,1,18,2020/10/14 14:02
3,4,15,32,89,22,2.7468,3,158,2020/10/14 14:02
4,5,46,43,54,10,2.1830,3,153,2020/10/14 14:02

In [54]:
tmap_day14['measured_at'] = '2020/10/14 14:00'

In [55]:
tmap_day14.head()

,tour_id,congestion_1,congestion_2,congestion_3,congestion_4,congestion_avg,congestion_max,road_total,measured_at
0,1,21,30,44,9,2.3942,3,104,2020/10/14 14:00
1,2,26,41,53,14,2.4104,3,134,2020/10/14 14:00
2,3,12,5,1,0,1.3889,1,18,2020/10/14 14:00
3,4,15,32,89,22,2.7468,3,158,2020/10/14 14:00
4,5,46,43,54,10,2.1830,3,153,2020/10/14 14:00

In [56]:
tmap_day14.shape

(11000, 9)

In [59]:
 tmap_day14_ = tmap_day14[['tour_id', 'congestion_avg', 'measured_at']]

### tour_data

In [60]:
tour_data = pd.read_csv('./data/tour_data/tour_data.csv')

In [61]:
tour_data.head()

,tour_id,title,cat1,cat2,cat3,areacode,addr1,tel,mapx,mapy,firstimage,firstimage2,contentid,contenttypeid,readcount,sigungucode,zipcode
0,1,㈜코스테이,B02,B0201,B02010900,1,서울특별시 강서구 곰달래로 247,02-2643-8800,126.860538,37.532234,http://tong.visitkorea.or.kr/cms/resource/22/1...,http://tong.visitkorea.or.kr/cms/resource/22/1...,1747824,32,16412.0,4.0,07741
1,2,㈜피에프비파트너스 마린칸토,A05,A0502,A05020300,1,서울특별시 용산구 청파로 74,02-712-5005,126.957507,37.535694,http://tong.visitkorea.or.kr/cms/resource/19/2...,http://tong.visitkorea.or.kr/cms/resource/19/2...,2598695,39,39.0,21.0,04372
2,3,가나아트센터,A02,A0206,A02060500,1,서울특별시 종로구 평창30길 28,NaN,126.975181,37.612210,http://tong.visitkorea.or.kr/cms/resource/19/1...,http://tong.visitkorea.or.kr/cms/resource/19/1...,129854,14,41050.0,23.0,03004
3,4,가나안경원 (명동2호점),A04,A0401,A04010600,1,서울특별시 중구 명동8가길 33,NaN,126.986934,37.561960,http://tong.visitkorea.or.kr/cms/resource/71/2...,http://tong.visitkorea.or.kr/cms/resource/71/2...,984586,38,11157.0,24.0,04537
4,5,가든파이브 (Garden5),A04,A0401,A04010600,1,서울특별시 송파구 충민로 66,NaN,127.122935,37.477006,http://tong.visitkorea.or.kr/cms/resource/78/1...,http://tong.visitkorea.or.kr/cms/resource/78/1...,732484,38,16603.0,18.0,05838

### 데이터 합치기

In [62]:
tour_tmap = pd.merge(tour_data, tmap_day14_, how='left', left_on='tour_id', right_on='tour_id')

In [63]:
# 데이터 절반
tour_tmap_half = tour_tmap.iloc[:11000,:]

In [64]:
tour_tmap_half.head()

,tour_id,title,cat1,cat2,cat3,areacode,addr1,tel,mapx,mapy,firstimage,firstimage2,contentid,contenttypeid,readcount,sigungucode,zipcode,congestion_avg,measured_at
0,1,㈜코스테이,B02,B0201,B02010900,1,서울특별시 강서구 곰달래로 247,02-2643-8800,126.860538,37.532234,http://tong.visitkorea.or.kr/cms/resource/22/1...,http://tong.visitkorea.or.kr/cms/resource/22/1...,1747824,32,16412.0,4.0,07741,2.3942,2020/10/14 14:00
1,2,㈜피에프비파트너스 마린칸토,A05,A0502,A05020300,1,서울특별시 용산구 청파로 74,02-712-5005,126.957507,37.535694,http://tong.visitkorea.or.kr/cms/resource/19/2...,http://tong.visitkorea.or.kr/cms/resource/19/2...,2598695,39,39.0,21.0,04372,2.4104,2020/10/14 14:00
2,3,가나아트센터,A02,A0206,A02060500,1,서울특별시 종로구 평창30길 28,NaN,126.975181,37.612210,http://tong.visitkorea.or.kr/cms/resource/19/1...,http://tong.visitkorea.or.kr/cms/resource/19/1...,129854,14,41050.0,23.0,03004,1.3889,2020/10/14 14:00
3,4,가나안경원 (명동2호점),A04,A0401,A04010600,1,서울특별시 중구 명동8가길 33,NaN,126.986934,37.561960,http://tong.visitkorea.or.kr/cms/resource/71/2...,http://tong.visitkorea.or.kr/cms/resource/71/2...,984586,38,11157.0,24.0,04537,2.7468,2020/10/14 14:00
4,5,가든파이브 (Garden5),A04,A0401,A04010600,1,서울특별시 송파구 충민로 66,NaN,127.122935,37.477006,http://tong.visitkorea.or.kr/cms/resource/78/1...,http://tong.visitkorea.or.kr/cms/resource/78/1...,732484,38,16603.0,18.0,05838,2.1830,2020/10/14 14:00

In [65]:
tour_tmap_half.shape

(11000, 19)

In [66]:
tour_tmap_half.isna().sum()

tour_id              0
title                0
cat1                 0
cat2                 0
cat3                 0
areacode             0
addr1                0
tel               5173
mapx                 0
mapy                 0
firstimage        3251
firstimage2       3251
contentid            0
contenttypeid        0
readcount           28
sigungucode          0
zipcode            161
congestion_avg       0
measured_at          0
dtype: int64

## 데이터 모델링

In [67]:
from haversine import haversine
from sklearn.preprocessing import MinMaxScaler

In [68]:
# 가중치 (값 선정 중요할듯)
weight_dist = 1.0
weight_rc = 0.8
weight_conavg = 0.8

In [69]:
cur_location = (37.4798, 126.8828) # 우림라이온스빌딩B동

# gps 좌표로 거리(km) 계산
tour_tmap_half['dist'] = tour_tmap_half.apply(lambda x: haversine(cur_location, (x['mapy'], x['mapx'])), axis=1)

# 0~1 사이 값으로 scaling
scaler = MinMaxScaler()
tour_tmap_half[['dist_scaled', 'readcount_scaled', 'con_avg_scaled']] = \
    scaler.fit_transform(tour_tmap_half[['dist', 'readcount', 'congestion_avg']])

# weight 계산
tour_tmap_half['dist_scaled'] = weight_dist * (1 - tour_tmap_half['dist_scaled'])
tour_tmap_half['readcount_scaled'] = weight_rc * tour_tmap_half['readcount_scaled']
tour_tmap_half['con_avg_scaled'] = weight_conavg * tour_tmap_half['con_avg_scaled']

# feature 합산
tour_tmap_half['rank'] = tour_tmap_half['dist_scaled'] + tour_tmap_half['readcount_scaled'] + tour_tmap_half['con_avg_scaled']

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:659: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[k] = np.nan
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:1736: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value[:, i].tolist())
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [70]:
tour_tmap_half.sort_values(by=['rank'], ascending=False).head(20)

,tour_id,title,cat1,cat2,cat3,areacode,addr1,tel,mapx,mapy,...,readcount,sigungucode,zipcode,congestion_avg,measured_at,dist,dist_scaled,readcount_scaled,con_avg_scaled,rank
7300,7301,제부도,A01,A0101,A01011300,31,경기도 화성시 서신면 제부말길 96,NaN,126.624484,37.168658,...,811875.0,31.0,18553,2.0000,2020/10/14 14:00,41.457333,0.876596,0.800000,0.40000,2.076596
2381,2382,홍릉수목원,A01,A0101,A01010700,1,서울특별시 동대문구 회기로 57,NaN,127.040681,37.592452,...,234633.0,11.0,02455,2.6026,2020/10/14 14:00,18.727156,0.944525,0.231201,0.52052,1.696246
896,897,북촌한옥마을,A02,A0201,A02010600,1,서울특별시 종로구 계동길 37,NaN,126.986425,37.579161,...,172207.0,23.0,03059,2.6992,2020/10/14 14:00,14.337729,0.957642,0.169688,0.53984,1.667170
16,17,간송미술관(서울 보화각),A02,A0206,A02060500,1,서울특별시 중구 을지로 281,NaN,127.010313,37.568196,...,87777.0,24.0,04566,2.9457,2020/10/14 14:00,14.935435,0.955856,0.086493,0.58914,1.631489
2121,2122,트리아 관광호텔,B02,B0201,B02010100,1,서울특별시 강남구 테헤란로33길 16,02-553-2471,127.039428,37.502927,...,43710.0,1.0,06142,3.1250,2020/10/14 14:00,14.056116,0.958484,0.043071,0.62500,1.626555
511,512,동대문종합시장 악세사리상가,A04,A0401,A04010600,1,서울특별시 종로구 종로 266,02-2262-0114,127.008879,37.570371,...,77507.0,23.0,03198,2.9489,2020/10/14 14:00,15.001637,0.955658,0.076373,0.58978,1.621812
1930,1931,창경궁,A02,A0201,A02010100,1,서울특별시 종로구 창경궁로 185,NaN,126.993855,37.577678,...,60033.0,23.0,03072,2.9909,2020/10/14 14:00,14.641004,0.956736,0.059155,0.59818,1.614071
1522,1523,예술의전당 한가람미술관,A02,A0206,A02060500,1,서울특별시 서초구 남부순환로 2406,NaN,127.013770,37.479309,...,187159.0,15.0,06757,2.3158,2020/10/14 14:00,11.557094,0.965952,0.184421,0.46316,1.613534
1033,1034,서울 선릉(성종과 정현왕후)과 정릉(중종) [유네스코 세계문화유산],A02,A0201,A02010700,1,서울특별시 강남구 선릉로100길 1,NaN,127.047180,37.507421,...,56365.0,1.0,06153,3.0000,2020/10/14 14:00,14.824024,0.956189,0.055541,0.60000,1.611730
2238,2239,한국의집,A05,A0502,A05020100,1,서울특별시 중구 퇴계로36길 10,02-2266-9101,126.994525,37.560189,...,133480.0,24.0,04626,2.5922,2020/10/14 14:00,13.303852,0.960732,0.131528,0.51844,1.610700
344,345,남산골한옥마을,A02,A0201,A02010600,1,서울특별시 중구 퇴계로34길 28,NaN,126.994006,37.559125,...,144681.0,24.0,04626,2.5243,2020/10/14 14:00,13.190625,0.961070,0.142565,0.50486,1.608495
2022,2023,카카오프렌즈 브랜드스토어,A04,A0401,A04010600,1,서울특별시 강남구 영동대로 513,NaN,127.058757,37.512690,...,170158.0,1.0,06164,2.4344,2020/10/14 14:00,15.948154,0.952830,0.167669,0.48688,1.607379
1074,1075,서울국가무형문화재전수회관,A02,A0206,A02061100,1,서울특별시 강남구 봉은사로 406,NaN,127.044644,37.510201,...,36697.0,1.0,06153,3.0390,2020/10/14 14:00,14.673082,0.956640,0.036160,0.60780,1.600600
1023,1024,서울 동대문 닭한마리 골목,A02,A0203,A02030600,1,서울특별시 종로구 종로40가길 14,NaN,127.005868,37.570349,...,54903.0,23.0,03197,2.9489,2020/10/14 14:00,14.804236,0.956248,0.054100,0.58978,1.600128
1955,1956,청계천,A02,A0202,A02020700,1,서울특별시 종로구 창신동,NaN,127.005091,37.569702,...,58277.0,24.0,04563,2.9200,2020/10/14 14:00,14.705052,0.956545,0.057425,0.58400,1.597969
1871,1872,종묘 [유네스코 세계문화유산],A02,A0201,A02010700,1,서울특별시 종로구 종로 157,NaN,126.994900,37.573190,...,54585.0,23.0,03135,2.9321,2020/10/14 14:00,14.337463,0.957643,0.053787,0.58642,1.597850
505,506,동대문 종합시장·동대문 쇼핑타운,A04,A0401,A04010600,1,서울특별시 종로구 종로 266,02-2262-0114,127.007329,37.570729,...,55630.0,23.0,03198,2.9353,2020/10/14 14:00,14.927554,0.955880,0.054816,0.58706,1.597756
179,180,광화문,A02,A0201,A02010300,1,서울특별시 종로구 사직로 161,NaN,126.976804,37.576073,...,114240.0,23.0,03045,2.6154,2020/10/14 14:00,13.539435,0.960028,0.112569,0.52308,1.595677
2423,2424,흥인지문,A02,A0201,A02010300,1,서울특별시 종로구 종로 288,NaN,127.009526,37.571193,...,47698.0,23.0,03119,2.9640,2020/10/14 14:00,15.105289,0.955348,0.047000,0.59280,1.595149
638,639,마로니에공원,A02,A0202,A02020700,1,서울특별시 종로구 대학로 104,NaN,127.002724,37.580242,...,58002.0,23.0,03087,2.8986,2020/10/14 14:00,15.380865,0.954525,0.057154,0.57972,1.591399